---
import Layout from '../layouts/Layout.astro'
import Featured from '../components/Featured.astro'
import { Image } from 'astro:assets'
import mountainShot from '../assets/MountainShot.jpg'
import AboutSection from '../components/AboutSection.astro'
---

<Layout title="Brandon Black">
	<header class="flex h-[90vh] items-center justify-between bg-secondary p-8">
		<div>
			<h1 class="text-6xl">Hi! I'm <span class="text-accent">Brandon</span> a full stack developer based in Seattle.</h1>
			<p class="w-1/2">
				Working on functionality, and change TODO: change this up to something that still takes up 2
				linesasdfasdfazsdf
			</p>
		</div>
		<Image
			src={mountainShot}
			alt="Me definitely thinking about code sitting on the edge of a cliff"
			class="aspect-video h-3/4 w-[400px] rounded-xl object-cover"
		/>
	</header>
	<main class="bg-bkg">
		<Featured />

		<AboutSection />
	</main>
</Layout>
