---
import Layout from '../layouts/Layout.astro'
import ProjectsComponent from '../components/ProjectsComponent.jsx'
---

<Layout title="Projects">
	<h1 class="pb-12 text-center text-6xl text-white">Recent Projects</h1>
	<ProjectsComponent />
</Layout>
