---
import { Image } from 'astro:assets'
import headshot from '../assets/headshot.jpeg'
import Frameworks from './Frameworks'
---

<section class="mt-20 items-center gap-12 p-8 md:flex">
	<Image src={headshot} alt="headshot of me" class="w-1/2 rounded-full object-cover" />
	<div class="flex flex-col gap-4">
		<h3 class="pb-4 text-6xl">About Me</h3>
		<p class="pb-12 text-xl">
			short description of me goes here making sure that it doesn't go longer than like 5 lines
			probably or something like that. Now I'm stalling to get the filler text up to 5 lines, this
			probably isn't even close though...
		</p>
		<Frameworks fullList={true} client:load />
		<a href="/about" class="mr-auto mt-12 rounded-lg bg-primary px-4 py-2 text-xl text-white"
			>More About Me</a
		>
	</div>
</section>
