---
import { Image } from 'astro:assets'
import headshot from '../assets/headshot.jpeg'
import { Icon } from 'astro-icon'
---

<section class="md:flex md: items-center gap-12 p-8">
	<Image src={headshot} alt="headshot of me" class="w-1/2 rounded-full object-cover" />
	<div>
		<h3 class="text-6xl pb-4">About Me</h3>
		<p class="text-xl pb-12">
			short description of me goes here making sure that it doesn't go longer than like 5 lines
			probably or something like that. Now I'm stalling to get the filler text up to 5 lines, this
			probably isn't even close though...
		</p>
		<div class="flex gap-4">
			<Icon name="vscode-icons:file-type-astro" class="w-16" />
			<Icon name="logos:nextjs-icon" class="w-16" />
			<Icon name="logos:react" class="w-16" />
			<Icon name="tabler:brand-react-native" class="w-16" />
			<Icon name="logos:nodejs" class="w-16" />
			<Icon name="logos:java" class="w-16" />
		</div>
	</div>
</section>
