---
import { Image } from 'astro:assets';
import dirtless from '../assets/dirtlessDetailing.jpg';
---

<section class="flex w-full justify-center">
	<div class="">
		<div class="w-[450px] h-[150px] relative">
			<Image src={dirtless} alt="dirtless detailing website landing page" class='w-full absolute h-full blur' />
			<div class="z-10 absolute translate-x-1/4 translate-y-1/4 top-1/4 left-1/4 w-full flex flex-col items-center">
				<strong class="text-3xl">Dirt-Less Detailing</strong>
				<div class="flex gap-4">
					<div class="button">LEARN MORE</div>
					<div class="button">VISIT SITE</div>
				</div>
				<div class="flex">
					<p>ICONS HERE...</p>
				</div>
			</div>
		</div>
	</div>

	<div>SEE ALL PROJECTS</div>
</section>
