---
import dirtless from '../assets/dirtlessDetailing.jpg';
---

<section class="flex w-full justify-center">
	<h2 class="text-4xl">Featured Projects</h2>

	<div class="md:grid">
		<div style=`background-img: ${dirtless}`>
			<strong>Dirt-Less Detailing</strong>
			<div>
				<div>LEARN MORE</div>
				<div>VISIT SITE</div>
			</div>
			<div>
				<p>ICONS HERE...</p>
			</div>
		</div>
		<div>
			<strong>Dirt-Less Detailing</strong>
			<div>
				<div>LEARN MORE</div>
				<div>VISIT SITE</div>
			</div>
			<div>
				<p>ICONS HERE...</p>
			</div>
		</div>
		<div>
			<strong>Dirt-Less Detailing</strong>
			<div>
				<div>LEARN MORE</div>
				<div>VISIT SITE</div>
			</div>
			<div>
				<p>ICONS HERE...</p>
			</div>
		</div>
		<div>
			<strong>Dirt-Less Detailing</strong>
			<div>
				<div>LEARN MORE</div>
				<div>VISIT SITE</div>
			</div>
			<div>
				<p>ICONS HERE...</p>
			</div>
		</div>
	</div>

	<div>SEE ALL PROJECTS</div>
</section>
