<section class="flex justify-center">
	<h2 class="text-4xl">Featured Projects</h2>

	<div>
		<strong>Dirt-Less Detailing</strong>
		<div>
			<div>LEARN MORE</div>
			<div>VISIT SITE</div>
		</div>
		<div>
			<p>ICONS HERE...</p>
		</div>
	</div>
</section>
